#fixed-footer {
  min-height: calc(100vh - 70px - 315px)
}

#footer {
  box-shadow: 0 0px 8px 0px rgba(33, 38, 41, 0.1);
  padding-top: 32px;
  margin-top: 32px;

  .legals {
    // border-top: 1px $light-blue solid;
    opacity: 0.7;
    background: $light-blue;
  }
}
