.right-links {
  position: fixed;
  top: 160px;
  right: 32px;

  & > div {
    margin-bottom: 8px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}

.social-link {
  background: $light-blue;
  width: 32px;
  height: 32px;
  position: relative;
  transition: background .2s ease;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: inherit;
    padding: 6px;
  }

  &:hover {
    background: $blue;
  }
}
