<div class="right-links">
  <div class="social-link">
    <a href="<%= data.links.facebook %>" target="_blank">
      <%= image_tag "social-icons/facebook.svg", alt: "Mikael Asselyn on facebook" %>
    </a>
  </div>
  <div class="social-link">
    <a href="<%= data.links.instagram %>" target="_blank">
      <%= image_tag "social-icons/instagram.svg", alt: "Mikael Asselyn on instagram" %>
    </a>
  </div>
</div>
