<div class="right-links">
  <div class="social-link">
    <% link_to data.links.facebook, target: "_blank" do %>
      <%= image_tag "social-icons/facebook.svg", alt: "Mikael Asselyn on facebook" %>
    <% end %>
  </div>
  <div class="social-link">
    <% link_to data.links.instagram, target: "_blank" do %>
      <%= image_tag "social-icons/instagram.svg", alt: "Mikael Asselyn on instagram" %>
    <% end %>
  </div>
</div>
