// Breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

* {
  font-family: $body-font;
}

body {
  margin: 0;
  background: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

p {
  color: $black;
  line-height: 1.5;
}
