---
title: Mikaël Asselyn - Contact
page_id: :contact
---

<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-center">
        <%#= image_tag "salon.png", alt: "alttext", class: 'w-100' %>
      </p>
      <h1>Contact</h1>
    </div>
  </div>
</div>
