---
title: Mikaël Asselyn - Les couleurs et les soins
page_id: :color
---

<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-center">
        <%#= image_tag "coupe1.png", alt: "alttext", class: 'w-100' %>
      </p>
      <h1>Couleurs & soins</h1>
    </div>
  </div>
</div>
