---
title: Mikaël Asselyn - Les coupes
page_id: :haircut
---

<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-center">
        <%= image_tag "coupe1.png", alt: "alttext", class: 'w-100' %>
      </p>
      <h1>Les coupes</h1>
      <p>L’œil aiguisé de MIKAEL sera analyser la forme, les structures et les accents de votre visage afin de créer et de styliser coupe et coiffure contemporaine.</p>
      <p>HOMMES ET FEMMES</p>
      <p class="text-center">
        <%= image_tag "coupe2.png", alt: "alttext", class: 'w-100' %>
      </p>
    </div>
  </div>
</div>
