---
title: Mikaël Asselyn - Soins et détente
page_id: :care
---

<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 class="h3 mb-5">Soin et détente</h1>
      <p>Soins approfondis et personnalisés</p>
      <p>Soins spécifiques cuirs chevelus</p>
      <p>Modelage détente du cuir chevelu accompagné d’un fauteuil massant pour un confort et une relaxation optimale.</p>
      <p>Café Nespresso et Thé Mariage Frères vous seront offerts.</p>
    </div>
    <div class="col-md">
      <p class="text-center">
        <%= image_tag "soin.png", alt: "alttext", class: 'w-100 px-4' %>
      </p>
    </div>
  </div>
</div>

